body {
	/*padding-top: 20px;*/
	padding-bottom: 20px;
}

.navbar {
	margin-bottom: 20px;
}

text {
	font: 12px sans-serif;
}

svg {
	display: block;
}

html, body, svg {
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
}

svg.sparkline {
	width: 500px;
	height: 70px;
	font-size: 14px;
	margin-top: -6px;
}