doctype html
html
  head
    meta(charset="utf-8")
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title Grafista
    link(href="{{ url_for('static', filename='assets/css/bootstrap.min.css') }}", rel="stylesheet", type="text/css")
    link(href="{{ url_for('static', filename='assets/css/main.css') }}", rel="stylesheet", type="text/css")
    link(href="{{ url_for('static', filename='assets/css/nv.d3.min.css') }}", rel="stylesheet", type="text/css")

  body

    nav.navbar.navbar-toggleable-md.navbar-inverse.bg-inverse
      button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarsExampleDefault', aria-controls='navbarsExampleDefault', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      |
      a.navbar-brand(href="{{ url_for('dashboard') }}") {{ config['TITLE'] }}
      #navbarsExampleDefault.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a.nav-link(href="{{ url_for('dashboard') }}")
              | Home
              span.sr-only (current)
          li.nav-item.dropdown
            a#dropdown01.nav-link.dropdown-toggle(href='http://example.com', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Series
            .dropdown-menu(aria-labelledby='dropdown01')
              | {% for serie in series %}
              a.dropdown-item(href="{{ url_for('stats_view', name=serie.name) }}") {{ serie.description }}
              | {% endfor %}

    | {% block body %}
    .container
      | {% for serie_row in series | batch(2, '&nbsp;') %}
      .row
        | {% for serie in serie_row %}
        .col-md-6
          h4
           a(href="{{ url_for('stats_view', name=serie.name) }}") {{ serie.description }}
          p
            svg(id="{{serie.name}}", class="sparkline")
        | {% endfor %}
      | {% endfor %}

    | {% endblock %}


    script(src="{{ url_for('static', filename='assets/js/d3.min.js') }}")
    script(src="{{ url_for('static', filename='assets/js/nv.d3.min.js') }}")

    script(src='//code.jquery.com/jquery-3.1.1.slim.min.js', integrity='sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n', crossorigin='anonymous')
    //script.
        window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\\/script>')
    //script(src='//cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js', integrity='sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb', crossorigin='anonymous')
    script(src="{{ url_for('static', filename='assets/js/bootstrap.min.js') }}")
    script(src="{{ url_for('static', filename='assets/js/utils.js') }}")
    script.
      function chartCall(serie_name) {
        d3.json('/series/' + serie_name, function(data) {
          nv.addGraph(function () {
            data = parseSamples(data);

            var chart = nv.models.sparklinePlus();
            chart.margin({left: 70})
              .x(function (d, i) {
                  return i
              })
              .showLastValue(true)
              .yTickFormat(d3.format('d'))
              .xTickFormat(function (d) {
                  return d3.time.format('%x')(new Date(data[d].x))
              });

              d3.select('#' + serie_name)
              .datum(data)
              .call(chart);

            return chart;
          });
        });
      }
      {% for serie in series %}
      chartCall("{{ serie.name }}");
      {% endfor %}

    | {% block footer_scripts %} {% endblock %}

