| {% extends 'layout.pug' %}
| {% block body %}
.container
  .row
    .col-md-12
      div#graph
| {% endblock %}
| {% block footer_scripts%}
script.
  var rawDataURLJSON = "/series/{{ serie.name }}";

  var xField = 'Date';
  var yField = 'Mean_TemperatureC';

  var selectorOptions = {
  buttons: [{
    step: 'month',
    stepmode: 'backward',
    count: 1,
    label: '1m'
  }, {
    step: 'month',
    stepmode: 'backward',
    count: 6,
    label: '6m'
  }, {
    step: 'year',
    stepmode: 'todate',
    count: 1,
    label: 'YTD'
  }, {
    step: 'year',
    stepmode: 'backward',
    count: 1,
    label: '1y'
  }, {
    step: 'all',
  }]
  };

  Plotly.d3.json(rawDataURLJSON, function (err, rawData) {
    if (err) throw err;

    var data = prepData(rawData);
    var layout = {
      title: "{{ serie.description }}",
      xaxis: {
        rangeselector: selectorOptions,
        rangeslider: {}
      },
      yaxis: {
        fixedrange: true
      }
    };

    Plotly.plot('graph', data, layout, {displayModeBar: false});
  });



| {% endblock %}
